{
    "useTabs": false,
    "singleQuote": true,
    "bracketSpacing": false,
    "arrowParens": "always",
    "semi": true,
    "endOfLine": "auto",
    "trailingComma": "all",
    "printWidth": 160
}